.clear_float {
    float: none;
}

.banner {
    font-size: 50px;
    font-weight: bold;
    margin: 25px;
    text-align: center;
    border-style: solid;
}

.nav_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item_ia {
    font-weight: bold;
    text-align: center;
    padding: 7px;
    margin: 5px;
    float: left;
    width: 18%;
    border-style: solid;
}
